* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.w-block {
    display: block !important;
}

.clearfix:after {
    content: "";
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
}

body {
    overflow-x: hidden;
}

.container {
    width: 1920px;
    margin: 0 auto;
    height: auto;
    padding: 0;
}

section {
    height: auto;
    width: 100%;
}

.section1 {
    height: 1035px;
    background: url(../img/1_default.jpg) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.section2 {
    height: 1006px;
    background: url(../img/2_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section3 {
    height: 1460px;
    background: url(../img/3_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section4 {
    height: 1205px;
    background: url(../img/4_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section5 {
    height: 1415px;
    background: url(../img/5_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section6 {
    height: 802px;
    background: url(../img/6_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section7 {
    height: 1599px;
    background: url(../img/7_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section8 {
    height: 1774px;
    background: url(../img/8_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section9 {
    height: 1480px;
    background: url(../img/9_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section10 {
    height: 1638px;
    background: url(../img/10_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.section11 {
    height: 1409px;
    background: url(../img/11_default.jpg) no-repeat;
    background-size: 100% 100%;
}

.title-img {
    width: 550px;
    height: 132px;
    margin: 0 auto;
    display: block;
}

.section2  {
    padding-top: 50px;
}

/*  */

#section1 {
    position: relative;
}

.logo618 {
    display: block;
    /* width: 765px; */
    /* height: 561px; */
    width: 1920px;
    position: absolute;
    top: 215px;
    left: 0;
    right: 0;
    opacity: 0;
    margin: auto;
    z-index: 99;
}

.nav618 {
    width: 347px;
    height: 259px;
    display: block;
    position: absolute;
    z-index: 88;
}

.nav618 img:last-child {
    display: block;
    width: 100%;
}

.nav618 img:first-child {
    display: none;
    width: 100%;
}


.nav618-1 {
    left: 398px;
    top: 665px;
    z-index: 89;
}

.nav618-2 {
    width: 298px;
    height: 285px;
    left: 665px;
    top: 742px;
    z-index: 90;
}

.nav618-3 {
    width: 320px;
    height: 291px;
    left: 990px;
    top: 720px;
    z-index: 91;
}

.nav618-4 {
    width: 360px;
    height: 286px;
    left: 1265px;
    top: 676px;
    z-index: 92;
}

.nav-l1 {
    width: 290px;
    height: 113px;
    display: block;
    position: absolute;
    top: -15px;
    left: 0;
    animation:ease-in-out shake 3s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
@keyframes l2 {
    0% {
        top: 50px;
        left: 505px;
    }
    50% {
        top: 90px;
        left: 525px;
    }
    100% {
        top: 50px;
        left: 505px;
    }
}
@keyframes l3 {
    0% {
        top: 174px;
        left: 365px;
    }
    50% {
        top: 194px;
        left:385px;
    }
    100% {
        top: 174px;
        left: 365px;
    }
}


.nav-l2{
	width: 144px;
	height: 208px;
    display: block;
    position: absolute;
    top: 50px;
    left: 505px;
    animation:ease-in-out l2 3s infinite;
}
.nav-l3{
	width: 259px;
	height: 225px;
    display: block;
    position: absolute;
    top: 174px;
    left: 365px;
    animation:ease-in-out l3 3s infinite;
}
@keyframes l4 {
    0% {
        top: 290px;
        left: 360px;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    99%{
        opacity:0,
    }
    to {
        top: 400px;
        left:50px;
        opacity: 0;
    }
}

.nav-l4{
    width: 497px;
    height: 354px;
    display: block;
    position: absolute;
    top: 290px;
    left: 300px;
    animation:ease-in-out l4 5s infinite;
}
.nav-r1{
    width: 326px;
    height: 369px;
    display: block;
    position: absolute;
    top: 83px;
    right: 315px;
    animation:ease-in-out r1 3s infinite;
}
@keyframes r1 {
    0% {
        top: 83px;
        right: 315px;
    }
    50% {
        top: 103px;
        right: 335px;
    }
    100% {
        top: 83px;
        right: 315px;
    }
}

.nav-r2{
	width: 217px;
	height: 562px;
    display: block;
    position: absolute;
    top: 290px;
    right: -10px;
    animation:ease-in-out shake2 3s infinite;
}


@keyframes shake2 {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(10deg)
    }
}

















/*  */

.fuli {
    width: 1290px;
    height: 642px;
    margin: 20px auto 0;
    background: url(../img/fuli5.png) no-repeat;
    background-size: cover;
}

.fuli a {
    display: block;
    margin-top: 488px;
    width: 218px;
    height: 63px;
    border-radius: 29.5px;
    float: left;
}

.fuli a img {
    display: block;
    width: 100%;
    display: none;
}

.fuli a img:nth-child(1) {
    display: block
}

.fuli a:hover img:nth-child(1) {
    display: none;
}

.fuli a:hover img:nth-child(2) {
    display: block;
}

.fuli a:first-child {
    margin-left: 140px;
}

.fuli a:nth-child(2), .fuli a:nth-child(3) {
    margin-left: 183px;
}

.register-dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.register-dialog-box {
    width: 824px;
    height: 624px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.register-dialog-box li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.register-close {
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    top: 110px;
    cursor: pointer;
    right: 0;
}

.register-title {
    color: #ffffff;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    padding-top: 185px;
}

.register-tib {
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, .7);
    margin-top: 12px;
    text-align: center;
}

.register-menu {
    width: 477px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 16px;
    margin: 22px auto 0;
}

.register-menu a {
    display: block;
    line-height: 38px;
    text-align: center;
    color: #bfbfbf;
    font-size: 16px;
    width: 159px;
    float: left;
    text-decoration: none;
}

.register-menu a.w-active {
    width: 159px;
    height: 38px;
    background-color: #fd534b;
    box-shadow: inset 0px 9px 25px 1px #ff9777;
    border-radius: 16px;
    color: #ffffff;
}

.register-message {
    height: 149px;
    float: left;
    margin-top: 26px;
    margin-left: 414px;
}

.register-message-title {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 12px;
}

.register-message-list {
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 8px;
}

.register-new {
    width: 190px;
    height: 18px;
    background-color: #62c2ef;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 10px;
    padding-left: 10px;
    opacity: .8;
    position: relative;
    overflow: hidden;
}

.register-new span {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #26acec;
    transform: rotate(45deg)
}

.register-new span:first-child {
    top: -10px;
    left: -10px;
}

.register-new span:last-child {
    top: 10px;
    left: -10px;
}

.register-btn {
    display: block;
    width: 193px;
    height: 58px;
    border-radius: 28.6px;
    position: absolute;
    bottom: 44px;
    left: 0;
    right: 0;
    margin: auto;
}

.register-btn img {
    display: block;
    width: 100%;
    display: none;
}

.register-btn img:nth-child(1) {
    display: block
}

.register-btn:hover img:nth-child(1) {
    display: none;
}

.register-btn:hover img:nth-child(2) {
    display: block;
}

.register-close img {
    display: block;
    width: 100%;
}

.register-dialog-box li:first-child {
    background: url(../img/tan1.png) no-repeat;
    background-size: 754px 624px;
}

.register-dialog-box li:nth-child(2) {
    background: url(../img/tan2.png) no-repeat;
    background-size: 754px 624px;
}

.register-dialog-box li:nth-child(3) {
    background: url(../img/tan3.png) no-repeat;
    background-size: 754px 624px;
}

.register-dialog-box li:nth-child(4) {
    width: 610px;
    height: 415px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: url(../img/tan4.png) no-repeat;
    background-size: 610px 415px;
}

.register-dialog-box li:nth-child(4) .register-title {
    padding-top: 60px;
}

.register-dialog-box li:nth-child(4) .register-message {
    margin-left: 287px;
    margin-top: 45px;
}

.register-dialog-box li:nth-child(4) .register-close {
    top: 0px;
    right: -70px;
}

.register-dialog-box li:nth-child(4) .register-new {
    width: 250px;
}

.register-dialog-box li:nth-child(5) {
    width: 617px;
    height: 387px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: url(../img/tan5.png) no-repeat;
    background-size: 617px 387px;
}

.register-dialog-box li:nth-child(5) .register-title {
    padding-top: 60px;
}

.register-dialog-box li:nth-child(5) .register-message {
    margin-left: 287px;
    margin-top: 45px;
}

.register-dialog-box li:nth-child(5) .register-close {
    top: 0px;
    right: -70px;
}

.register-dialog-box li:nth-child(5) .register-new {
    width: 250px;
}

.register-tib5 {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}

.register-download {
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

.register-download a {
    color: #fff;
}

.register-message5 {
    line-height: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, .59);
    margin-left: 75px;
    margin-top: 20px;
}

/*  */

.chongzhi-box {
    width: 1295px;
    height: 1218px;
    margin: 15px auto 0;
    background: url(../img/chongzhi17.png);
    background-size: cover;
    position: relative;
}

.chongzhi-qq {
    position: absolute;
    display: block;
    width: 184px;
    height: 36px;
    left: 683px;
    bottom: 0;
}

.chongzhi-qq img {
    display: none;
    width: 100%;
}

.chongzhi-qq img:last-child {
    display: block;
}

.chongzhi-qq:hover img:last-child {
    display: none;
}

.chongzhi-qq:hover img:first-child {
    display: block;
}

.chongzhi {
    position: absolute;
    display: block;
    width: 156px;
    height: 46px;
    left: 744px;
}

.chongzhi img {
    display: none;
    width: 100%;
}

.chongzhi img:last-child {
    display: block;
}

.chongzhi:hover img:first-child {
    display: block;
}

.chongzhi:hover img:last-child {
    display: none;
}

.chongzhi1 {
    top: 205px;
}

.chongzhi2 {
    top: 450px;
}

.chongzhi3 {
    width: 193px;
    height: 58px;
    left: 156px;
    bottom: 150px;
}

.chongzhi4 {
    width: 193px;
    height: 58px;
    left: 544px;
    bottom: 150px;
}

.chongzhi5 {
    width: 193px;
    height: 58px;
    left: 950px;
    bottom: 150px;
}

.chongzhi-list {
    width: 537px;
    height: 307px;
    position: absolute;
    top: 0;
    display: block;
    z-index: 11;
    left: 86px;
    top: 191px;
}

.chongzhi-list-box {
    display: block;
    position: absolute;
    height: 211px;
    left: 64px;
    top: 60px;
    width: 408px;
    overflow: hidden;
}

.chongzhi-list-box ul {
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
}

.chongzhi-list-box ul li {
    width: 185px;
    height: 100%;
    margin-right: 38px;
    float: left;
}

.chongzhi-list-box ul li img {
    width: 170px;
    height: 160px;
    display: block;
    margin: 0 auto;
}

.chongzhi-list-box ul li p {
    line-height: 37px;
    height: 37px;
    text-align: center;
    border-radius: 18.5px;
    border: solid 1px #ababab;
    font-size: 18px;
    color: #ababab;
    margin-top: 10px;
}

.chongzhi-list a {
    position: absolute;
    top: 140px;
    width: 30px;
    height: 30px;
}

.chongzhi-list a.fl {
    left: 20px;
}

.chongzhi-list a.fr {
    right: 20px;
}

.chongzhi-list a.fl img, .chongzhi-list a.fr img {
    display: none;
}

.chongzhi-list a.fl img:first-child, .chongzhi-list a.fr img:first-child {
    display: block;
}

.chongzhi-list a.fl:hover img:first-child, .chongzhi-list a.fr:hover img:first-child {
    display: none;
}

.chongzhi-list a.fl:hover img:last-child, .chongzhi-list a.fr:hover img:last-child {
    display: block;
}

/*  */

.xuan-box {
    width: 1295px;
    height: 969px;
    background: url(../img/xuan3.png);
    background-size: cover;
    margin: 15px auto 0;
}

.xuan-link {
    float: left;
    display: block;
    margin-top: 410px;
    width: 193px;
    height: 58px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 28.5px;
}

.xuan-link img {
    display: block;
    width: 100%;
    display: none;
}

.xuan-link img:last-child {
    display: block;
}

.xuan-link:hover img:first-child {
    display: block;
}

.xuan-link:hover img:nth-child(2) {
    display: none;
}

.xuan-link1 {
    margin-left: 160px;
}

.xuan-link2, .xuan-link3 {
    margin-left: 200px;
}

.xuan-conent {
    width: 1123px;
    height: 278px;
    background-color: #fffbfb;
    box-shadow: 0px 0px 8.5px 0.5px #a30b00;
    border-radius: 10px;
    float: left;
    margin-left: 87px;
    margin-top: 146px;
    position: relative
}

.xuan-conent-box {
    width: 942px;
    height: 228px;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
}

.xuan-conent ul {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.xuan-conent ul li {
    width: 194px;
    height: 100%;
    float: left;
    margin-right: 55px;
}

.xuan-conent ul li img {
    display: block;
    width: 100%;
}

.xuan-conent ul li s {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #ababab;
    display: block;
    margin-top: 10px;
}

.xuan-conent ul li span {
    display: block;
    width: 185px;
    height: 35px;
    border-radius: 18.5px;
    border: solid 1px #ff513b;
    color: #ff513b;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}

.xuan-conent a {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 124px;
}

.xuan-conent a.fl {
    left: 20px;
}

.xuan-conent a.fr {
    right: 20px;
}

.xuan-conent a img {
    display: block;
    width: 100%;
}

.xuan-conent a img {
    display: block;
    width: 100%;
    display: none;
}

.xuan-conent a img:first-child {
    display: block;
}

.xuan-conent a:hover img:first-child {
    display: none;
}

.xuan-conent a:hover img:nth-child(2) {
    display: block;
}

/*  */

.chajian-box {
    width: 1295px;
    height: 1173px;
    background: url(../img/chajian5.png);
    background-size: cover;
    margin: 15px auto 0;
    position: relative;
}

.chajian-more {
    width: 230px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 532px;
}

.chajian-link {
    position: absolute;
    bottom: 130px;
    width: 156px;
    height: 47px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 23.1px;
}

.chajian-link img {
    display: block;
    width: 156px;
    height: 47px;
    display: none;
}

.chajian-link img:last-child {
    display: block;
}

.chajian-link:hover img:first-child {
    display: block;
}

.chajian-link:hover img:nth-child(2) {
    display: none;
}

.chajian-link1 {
    width: 193px;
    height: 58px;
    left: 894px;
    bottom: 778px;
}

.chajian-link2 {
    left: 258px;
}

.chajian-link3 {
    left: 625px;
}

.chajian-link4 {
    left: 1046px;
}

/*  */

.tequan-box {
    width: 1295px;
    height: 563px;
    background: url(../img/tequan5.png);
    background-size: cover;
    margin: 15px auto 0;
    position: relative;
}

.tequan-link img {
    display: block;
    width: 156px;
    height: 46px;
    display: none;
}

.tequan-link img:last-child {
    display: block;
}

.tequan-link:hover img:first-child {
    display: block;
}

.tequan-link:hover img:nth-child(2) {
    display: none;
}

.tequan-link {
    width: 156px;
    height: 46px;
    border-radius: 23px;
    float: left;
    display: block;
}

.tequan-link1 {
    margin-top: 233px;
    margin-left: 128px;
}

.tequan-link2 {
    margin-top: 428px;
    margin-left: -185px;
}

.tequan-link3 {
    margin-top: 428px;
    margin-left: 208px;
}

.tequan-link4 {
    margin-top: 428px;
    margin-left: 222px;
}

/*  */

.youhui-box {
    width: 1304px;
    height: 1372px;
    background: url(../img/youhui5.png);
    background-size: cover;
    margin: 15px auto 0;
    position: relative;
}

.youhui-link {
    width: 156px;
    height: 47px;
    border-radius: 23.1px;
    position: absolute;
    display: block;
}

.youhui-link img {
    display: block;
    width: 156px;
    height: 47px;
    display: none;
}

.youhui-link img:last-child {
    display: block;
}

.youhui-link:hover img:first-child {
    display: block;
}

.youhui-link:hover img:nth-child(2) {
    display: none;
}

.youhui-link1 {
    top: 390px;
    left: 272px;
}

.youhui-link2 {
    top: 390px;
    left: 667px;
}

.youhui-link3 {
    top: 390px;
    left: 1062px;
}

.youhui-link4 {
    top: 820px;
    left: 272px;
}

.youhui-link5 {
    top: 820px;
    left: 667px;
}

.youhui-link6 {
    top: 820px;
    left: 1062px;
}

.youhui-link7 {
    top: 1237px;
    left: 272px;
}

.youhui-link8 {
    top: 1237px;
    left: 667px;
}

.youhui-link9 {
    width: 229px;
    height: 68px;
    left: 940px;
    top: 1100px;
}

.youhui-link9 img {
    width: 229px;
    height: 68px;
}

/*  */

.section8 img:last-child {
    width: 1304px;
    height: 1547px;
    display: block;
    margin: 15px auto 0;
}

/*  */

.fuwu-box {
    width: 1304px;
    height: 1238px;
    background: url(../img/fuwu3.png);
    background-size: cover;
    margin: 15px auto 0;
    position: relative;
}

.fuwu-link {
    display: block;
    width: 156px;
    height: 47px;
    border-radius: 23.1px;
    position: absolute;
    top: 767px;
}

.fuwu-link img {
    display: block;
    width: 156px;
    height: 47px;
    display: none;
}

.fuwu-link img:last-child {
    display: block;
}

.fuwu-link:hover img:first-child {
    display: block;
}

.fuwu-link:hover img:nth-child(2) {
    display: none;
}

.fuwu-link1 {
    left: 272px;
}

.fuwu-link2 {
    left: 677px;
}

.fuwu-link3 {
    left: 1062px;
}

.fuwu-bottom {
    display: block;
    width: 190px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 565px;
}

/*  */

.tisheng-box {
    width: 1304px;
    height: 1400px;
    background: url(../img/tisheng7.png);
    background-size: cover;
    margin: 15px auto 0;
    position: relative;
}

.tisheng-list {
    width: 730px;
    height: 302px;
    position: absolute;
    top: 170px;
    left: 95px;
}

.tisheng-list-box {
    width: 527px;
    height: 282px;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
}

.tisheng-list-box ul {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tisheng-list-box ul li {
    width: 527px;
    float: left;
    height: 100%;
}

.tisheng-list-box ul li img {
    display: block;
    width: 100%;
}

.tisheng-list-box ul li p {
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    color: #ababab;
    margin-top: 10px;
}

#tisheng-r, #tisheng-l {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 136px;
}

#tisheng-l {
    left: 20px;
}

#tisheng-r {
    right: 20px;
}

.tisheng-link {
    display: block;
    position: absolute;
    width: 156px;
    height: 47px;
    border-radius: 23.1px;
}

.tisheng-link img, #tisheng-l img, #tisheng-r img {
    display: block;
    width: 100%;
    display: none;
}

.tisheng-link img:last-child, #tisheng-l img:first-child, #tisheng-r img:first-child {
    display: block;
}

.tisheng-link:hover img:last-child, #tisheng-l:hover img:first-child, #tisheng-r:hover img:first-child {
    display: none;
}

.tisheng-link:hover img:first-child, #tisheng-l:hover img:nth-child(2), #tisheng-r:hover img:nth-child(2) {
    display: block;
}

.tisheng-link1 {
    left: 970px;
    top: 415px;
    width: 166px;
    height: 47px;
}

.tisheng-link2 {
    left: 276px;
    top: 845px;
}

.tisheng-link3 {
    left: 670px;
    top: 845px;
}

.tisheng-link4 {
    left: 1069px;
    top: 845px;
}

.tisheng-link5 {
    top: 1270px;
    left: 276px;
}

.tisheng-link6 {
    width: 229px;
    height: 68px;
    left: 544px;
    top: 1130px;
}

/*  */

.fensi2 {
    width: 1289px;
    height: 357px;
    margin: 15px auto 0;
    display: block;
}

.section11-last {
    position: relative;
    width: 1291px;
    margin: 0 auto 0;
}

.section11 img:nth-child(3) {
    margin-top: 90px;
    display: block;
}

.section11 img:nth-child(4) {
    display: block;
    width: 1291px;
    height: 458px;
    margin: 15px auto 0;
    position: relative;
}

.section11-last a {
    display: block;
    width: 184px;
    height: 40px;
    position: absolute;
    left: 473px;
    bottom: 365px;
}

.section11-last a img {
    display: block;
    width: 100%;
    display: none;
}

.section11-last a img:last-child {
    display: block;
}

.section11-last a:hover img:last-child {
    display: none;
}

.section11-last a:hover img:first-child {
    display: block;
}

.menu-618 {
    height: 68px;
    margin-top: 70px;
}

.menu-618 .menu-618-item {
    width: 212px;
    height: 68px;
    border-radius: 33.8px;
    display: block;
    position: static;
    margin-right: 26px;
    float: left;
}

.menu-618 .menu-618-item:first-child {
    margin-left: 64px;
}

.menu-618 .menu-618-item img {
    width: 212px;
    height: 68px;
}

.menu-618 .menu-618-item img:last-child {
    display: block;
}

.menu-618 .menu-618-item:hover img:last-child {
    display: none;
}

.menu-618 .menu-618-item:hover img:first-child{
    display: block;
}

/*  */

.ce-618 {
    width: 200px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 10000000;
    display: none;
}

.ce-menu {
    width: 100%;
    height: 575px;
    background: url(../img/ce1.png) center no-repeat;
    background-size: 100% 100%;
    padding-top: 130px;
    box-sizing: content-box;
    
}

.ce-menu a {
    display: block;
    width: 147px;
    height: 48px;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #fffbfb;
    font-size: 22px;
    margin-left: 26px;
    text-decoration: none;
}

.ce-menu a:hover {
    color: #fdf08e;
}

.ce-menu a.w-active {
    background: url(../img/ce3.png);
    background-size: 100% 100%;
}

.ce-menu hr {
    width: 134px;
    float: left;
    margin-left: 32px;
    height: 2px;
    background-image: linear-gradient(90deg, #2faff0 0%, #fffbfb 51%, #33b1f0 100%), linear-gradient( #fffbfb, #fffbfb);
    background-blend-mode: normal, normal;
    opacity: 0.14;
}

.ce-618 img{
    left: 25px;
    display: -webkit-box;
    width: 174px;
    height: 285px;
    position: fixed;
    bottom: 20px;
}
